.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.block {
    height: 200px;
    width: 200px;
    max-width: 100%;
    border: 1px solid black;
    box-shadow: 2px 2px 10px;
    margin: 1em;
}

.block:hover {
    height: 220px;
    width: 220px;
}

.red {
    background-color: tomato;
    text-align: center;
    padding-top: 2em;
}

.blue {
    background-color: skyblue;
    text-align: center;
    padding-top: 2em;
}

.green {
    background-color: chartreuse;
    text-align: center;
    padding-top: 2em;
}

.redRed {
    background-color: red;
    text-align: center;
    padding-top: 2em;
}